$wrapperwidth: 1280px;

$grey: #646a89;
$greyLight: #e3e7f6;
$darkBlue: #1a2578;
$buttonColor: #bf0830;
$black: #3a3a3c;

$titleText: 48px;
$titleSubText: 36px;
$subText: 22px;
$normalText: 18px;
$font: Europa;

$breakpointXXL: 1320px;
$breakpointXL: 968px;
$breakpointL: 868px;
$breakpointSL: 532px;
$breakpointS: 420px;
