.culture {
  background: linear-gradient(268.52deg, #e3e7f6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}

@media screen and (max-width: 1320px) {
  .culture .cultureScreen {
    margin: 32px 50px 0px 50px;
  }
}

@media screen and (max-width: 868px) {
  .culture .cultureScreen {
    margin: 32px 10px 0px 10px;
  }
}

.culture .cultureBlocks {
  gap: 36px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 968px) {
  .culture .cultureBlocks {
    gap: 16px;
  }
}

.culture .cultureBlocks .cultureBlock {
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 27%;
          flex: 1 1 27%;
}

.culture .cultureBlocks .cultureBlock .cultureBlockText {
  padding: 40px;
}

.culture .cultureBlocks .cultureBlock .cultureBlockText .cultureBlockTitle {
  font-size: 28px;
  line-height: 31px;
  color: black;
  padding-bottom: 32px;
}

.culture .cultureBlocks .cultureBlock .cultureBlockText .cultuteBlockSubText {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #646a89;
}

.culture .cultureText {
  padding-top: 50px;
  text-align: center;
}

.culture .cultureText .cultureTitle {
  color: #1a2578;
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
}

.culture .cultureText .cultureSubText {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #646a89;
  padding-top: 16px;
  padding-bottom: 90px;
}
