.products {
  border-top: 1px solid #e3e7f6;
  background-color: white;
}

.products .productsScreen {
  padding-bottom: 108px;
}

@media screen and (max-width: 1320px) {
  .products .productsScreen {
    margin: 32px 50px 0px 50px;
  }
}

@media screen and (max-width: 868px) {
  .products .productsScreen {
    margin: 32px 10px 0px 10px;
  }
}

.products .productText {
  margin-top: 108px;
  text-align: center;
}

.products .productText .productTitle {
  font-size: 48px;
  font-weight: 600;
  color: #1a2578;
}

.products .productText .productSub {
  margin-top: 16px;
  margin-bottom: 140px;
  font-size: 22px;
  color: #646a89;
}

.products .productsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .products .productsBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.products .productsBlock .companyImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.products .productsBlock .companyImage img {
  width: 100%;
}

.products .productsBlock .productBlock {
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 16px;
}

@media screen and (max-width: 768px) {
  .products .productsBlock .productBlock {
    margin: 15px 20px;
  }
}

.products .productsBlock .productBlock .productInfo {
  margin-top: 64px;
  margin-left: 62px;
}

@media screen and (max-width: 532px) {
  .products .productsBlock .productBlock .productInfo {
    margin-top: 32px;
    margin-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.products .productsBlock .productBlock .productInfo .companyName {
  margin-bottom: 40px;
}

.products .productsBlock .productBlock .productInfo .companyDesc {
  font-size: 24px;
  max-width: 65%;
  line-height: 31px;
  color: #3a3a3c;
}

@media screen and (max-width: 532px) {
  .products .productsBlock .productBlock .productInfo .companyDesc {
    text-align: center;
  }
}

.products .productsBlock .productBlock .productInfo .companyBtn {
  padding: 12px 24px;
  margin-top: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.productsBlockPageProduct {
  padding-top: 105px;
}

.productsBlockPageProduct .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: end;
}

.productsBlockPageProduct .productBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .productsBlockPageProduct .productBlock {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.productsBlockPageProduct .productBlock .companyImage2 {
  width: 100%;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .productsBlockPageProduct .productBlock .companyImage2 {
    text-align: center;
  }
}

@media screen and (max-width: 968px) {
  .productsBlockPageProduct .productBlock .companyImage2 img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .productsBlockPageProduct .productBlock .companyImage2 img {
    width: 75%;
  }
}

.productsBlockPageProduct .productBlock .companyImage {
  width: 100%;
  text-align: end;
}

@media screen and (max-width: 768px) {
  .productsBlockPageProduct .productBlock .companyImage {
    text-align: center;
  }
}

@media screen and (max-width: 968px) {
  .productsBlockPageProduct .productBlock .companyImage img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .productsBlockPageProduct .productBlock .companyImage img {
    width: 75%;
  }
}

.productsBlockPageProduct .productBlock .productInfo {
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
  padding-right: 30px;
}

@media screen and (max-width: 868px) {
  .productsBlockPageProduct .productBlock .productInfo {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #e3e7f6;
    padding-right: 0px;
  }
}

.productsBlockPageProduct .productBlock .productInfo .companyName {
  margin-bottom: 40px;
}

.productsBlockPageProduct .productBlock .productInfo .companyDesc {
  margin-bottom: 14px;
  color: #646a89;
  font-size: 18px;
  line-height: 27px;
}

.productsBlockPageProduct .productBlock .productInfo .companyDesc p {
  margin: 20px 0px;
}

.productsBlockPageProduct .productBlock .productInfo .companyBtn {
  padding: 12px 24px;
  display: inline-block;
  margin-bottom: 20px;
}
